@model AnnouncementEdit

@{
    ViewData["Title"] = "Düzenle";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="admin" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
        <li class="breadcrumb-item"><a asp-area="admin" asp-controller="Announcement" asp-action="Index">Duyurular</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>
<div>
    <div class="d-flex justify-content-center align-items-center p-2">
        <a class="btn btn-primary text-white mr-2" id="btnAnnounceTr">Türkçe</a>
        <a class="btn btn-primary text-white ml-2" id="btnAnnounceEn">English</a>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="float-left  text-info">
                <i class="fa fa-edit fa-lg text-info"></i> @ViewBag.Title
            </h4>
        </div>

        <div class="card-body row">

            <div class="col-12">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary()
                    <div id="divAnnounceTr">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Başlık</span>
                            </div>
                            <input asp-for="Title" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Tarih</span>
                            </div>
                            <input asp-for="Date" type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="form-group">
                            <span class="input-group-text" id="basic-addon3">Açıklama</span>
                            <div ass="col-md-10">
                                <textarea asp-for="Description" id="Description" class="ckeditor" name="Description" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Önemli Duyuru</span>
                            </div>
                            <input asp-for="IsImportant" type="checkbox" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Aktif mi?</span>
                            </div>
                            <input asp-for="Enable" type="checkbox" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="float-right">
                            <a href="@Url.Action("Index")" class="btn btn-warning" style="width:140px;">
                                <i class="fa fa-arrow-left"></i>
                                İptal
                            </a>
                            <button type="submit" class="btn btn-info ml-4" style="width:140px;">
                                <i class="fa fa-plus"></i>
                                Kaydet
                            </button>
                        </div>
                    </div>
                    <div id="divAnnounceEn" style="display:none">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Title</span>
                            </div>
                            <input asp-for="TitleEng" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Date</span>
                            </div>
                            <input asp-for="Date" type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="form-group">
                            <span class="input-group-text" id="basic-addon3">Description</span>
                            <div ass="col-md-10">
                                <textarea asp-for="DescriptionEng" id="Description" class="ckeditor" name="DescriptionEng" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">is Important</span>
                            </div>
                            <input asp-for="IsImportant" type="checkbox" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">is Active?</span>
                            </div>
                            <input asp-for="Enable" type="checkbox" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="float-right">
                            <a href="@Url.Action("Index")" class="btn btn-warning" style="width:140px;">
                                <i class="fa fa-arrow-left"></i>
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-info ml-4" style="width:140px;">
                                <i class="fa fa-plus"></i>
                                Save
                            </button>
                        </div>
                    </div>
                    }
                </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#btnAnnounceEn').click(function () {
            $('#dateen').val($('#datetr').val())
            $('#divAnnounceEn').css({ display: "block" })
            $('#divAnnounceTr').css({ display: "none" })
        })
        $('#btnAnnounceTr').click(function () {
            $('#datetr').val($('#dateen').val())
            $('#divAnnounceTr').css({ display: "block" })
            $('#divAnnounceEn').css({ display: "none" })
        })
    })
</script>