@model PropertyCreate

@{
    ViewData["Title"] = "Yeni Kart";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="admin" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
        <li class="breadcrumb-item"><a asp-area="admin" asp-controller="Property" asp-action="Index">Kartlar</a></li>
        <li class="breadcrumb-item active" aria-current="page">Yeni Kart</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h4 class="float-left  text-info">
            <i class="fa fa-plus fa-lg text-info"></i> @ViewBag.Title
        </h4>
    </div>
    <div class="card-body row">

        <div class="col-12">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Başlık</span>
                    </div>
                    <input asp-for="Title" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    @*<input asp-for="Title" placeholder="Slayt Başlığı" />*@
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend bg-color-light-scale-border-top-4">
                        <span class="input-group-text " id="basic-addon3">Başlık(İngilizce)</span>
                    </div>
                    <input asp-for="TitleEn" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend bg-color-light-scale-border-top-4">
                        <span class="input-group-text ">Yeni Resim</span>
                    </div>
                    <select class="form-control" asp-for="IconId">
                        @foreach (var item in ViewBag.icons)
                        {
                            <option value="@item.icon_id">@item.iconName  </option>
                            
                           }
                    </select>

                </div>   

                <select id="linkSelect" asp-for="SelectValue" class="form-control mb-3">
                    <option value="0">Dış Bağlantı</option>
                    <option value="1">İçerik Sayfası</option>
                </select>

                <div id="PropURL1" class="input-group mb-3">
                    <div class="input-group-prepend bg-color-light-scale-border-top-4">
                        <span class="input-group-text " id="basic-addon3">Yönlendirme Linki</span>
                    </div>
                    <input asp-for="PropURL1" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <div id="PropURL2" class="input-group mb-3" style="display:none">
                    <div class="input-group-prepend bg-color-light-scale-border-top-4">
                        <span class="input-group-text " id="basic-addon3">Yönlendirme Linki</span>
                    </div>
                    <select class="form-control" asp-for="PropURL2">
                        @foreach (var item in ViewBag.statics)
                        {
                    <option value="@item.Id">@item.Title</option>}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend bg-color-light-scale-border-top-4">
                        <span class="input-group-text " id="basic-addon3">Yönlendirme Tipi</span>
                    </div>
                    <select asp-for="Target" class="form-control">
                        <option selected="selected" value="_Self">Aynı Pencerede aç</option>
                        <option value="_Blank">Farklı Pencerede aç</option>
                    </select>
                </div>

                
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Aktif mi?</span>
                    </div>
                    <input asp-for="Enable" type="checkbox" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <!--İPTAL-->
                <div class="float-right">
                    <a href="@Url.Action("Index")" class="btn btn-warning" style="width:140px;">
                        <i class="fa fa-arrow-left"></i>
                        İptal
                    </a>

                    <!--EKLE-->
                    <button type="submit" class="btn btn-info ml-4" style="width:140px;">
                        <i class="fa fa-plus"></i>
                        Ekle
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<script>$(function () {

        $('#linkSelect').change(function () {
            var value = $('#linkSelect').val()
            if (value == 0) {
                $('#PropURL2').hide()
                $('#PropURL1').show()
            } else {
                $('#PropURL1').hide()
                $('#PropURL2').show()
            }
        })

        $()
    })</script>

